 *{
    margin: auto;
    padding:0;
    box-sizing: border-box;
    
}

body {
    background: url(img/img.jpg);
    background-size: cover;
    font-family: sans-serif,Verdana;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;

}

.container {
    width: 350px;
    padding: 50px 20px;
    background: rgba(16, 16, 17, 0.281);
    box-shadow: 1px 5px 15px rgba(2, 18, 39, 0.993);
    

}
h2{
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align:center ;
    margin:30px;
    
}

input{
    width: 100%;
    height:46px;
    background: transparent;
    border:none;
    outline:none;
    border-bottom: 2px solid #4392d3a6;
    color:rgb(255, 255, 255);
    
}

.input-data{
    position: relative;
    margin-bottom: 20px;
}

label{
    position:absolute;
    top:0;
    left: 0;
    color:rgb(255, 255, 255);
    transform: translateY(18px);
}

button{
    padding: 15px 50px;
    margin: 20px;
    cursor: pointer;

}

.botao{
    text-align:center;
    
    
}

.links{
    text-align:center ;
    color: white;

}

a {
    color: rgb(255, 255, 255);
}

a:hover{
    color:#000000
}

.color{
    color: black;
}





